@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: font1;
    src: url("font/font1.otf");
}


@font-face {
    font-family: font2;
    src: url("font/font2.otf");
}

@font-face {
    font-family: font3;
    src: url("font/font3.ttf");
}

@font-face {
    font-family: font4;
    src: url("font/font4.ttf");
}

@font-face {
    font-family: font5;
    src: url("font/font5.otf");
}

@font-face {
    font-family: font6;
    src: url("font/font6.ttf");
}

@font-face {
    font-family: font7;
    src: url("font/font7.otf");
}

@font-face {
    font-family: font8;
    src: url("font/font8.otf");
}

@font-face {
    font-family: font9;
    src: url("font/font9.otf");
}

@font-face {
    font-family: font10;
    src: url("font/font10.ttf");
}

@font-face {
    font-family: font11;
    src: url("font/font11.ttf");
}

@font-face {
    font-family: font12;
    src: url("font/font12.otf");
}

@font-face {
    font-family: font13;
    src: url("font/font-main.otf");
}

body {
    background-color: black;
}

html {
    font-size: 62.5%;
}

.container {
    max-width: 1366px;
    width: 100%;
    height: auto;
    margin: auto;
}

.flex-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 2% 0;
}

.h1 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.2rem;
    font-weight: lighter;
    margin: 1rem 0;
    color: whitesmoke;
}

.flex-inner1 {
    width: 49%;
    height: 800px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("pexels-moose-photos-1040824.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    text-align:center;
    flex-direction: column;
    border-radius: 2rem;
}

.flex-inner1 h1 {
    font-size: 7rem;
    color: whitesmoke;
    text-shadow: 0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff;
 padding-top: 5rem;
    font-family: font8;
}

.flex-inner1 h6 {
    font-size: 2rem;
    padding-bottom: 5rem;
    font-family: font2;
    color: #f35626;
	background-image: -webkit-linear-gradient(90deg, #f35626, #feab3a);
	-webkit-background-clip:text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: color-change 10s infinite linear;
}



@-webkit-keyframes color-change {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.flex-inner {
    width: 49%;
    height: auto;
    padding: 0% 0;
    padding-left: 2%;
}

.heading-div {
    width: 100%;
    height: auto;
    padding: 1rem 0;
    border-bottom: 0.2rem solid whitesmoke;
}

.heading-div h1 {
    font-family: font13;
    color: whitesmoke;
    font-size: 3rem;
}

.heading-div p {
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1.8rem 0;
}

.heading-div p span {
    font-size: 1.8rem;
}

.custom-container {
    width: 100%;
    height: auto;
    color: white;
    margin: 1rem 0
}

.custom-container h1 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.2rem;
    font-weight: lighter;
    margin: 1rem 0;
}

.custom-container input {
    width: 100%;
    background: none;
    outline: none;
    color: white;
    padding: 2rem;
    font-size: 3rem;
    border-bottom: 0.2rem solid whitesmoke;
    font-family: font8;
    margin: 1rem 0;
}

.font-container {
    width: 100%;
    height: auto;
    margin: 1rem 0;
}


.font-family-container {
    width: 100%;
    height: auto;
    /* padding: 2rem 0; */
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.font {
    width: 21%;
    height: 5rem;
    border: 0.2rem solid whitesmoke;
    margin: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: whitesmoke;
    cursor: pointer;
}

.font:nth-child(1):hover {
    background: linear-gradient(rgba(213, 35, 35, 0.847), rgba(156, 103, 5, 0.868));
}

.font:nth-child(2):hover {
    background: linear-gradient(rgba(8, 247, 104, 0.847), rgba(2, 101, 250, 0.868));
}

.font:nth-child(3):hover {
    background: linear-gradient(rgba(247, 8, 131, 0.847), rgba(250, 2, 114, 0.868));
}

.font:nth-child(4):hover {
    background: linear-gradient(rgba(8, 219, 247, 0.847), rgba(226, 255, 3, 0.868));
}

.font:nth-child(5):hover {
    background: linear-gradient(rgba(8, 16, 247, 0.847), rgba(209, 3, 255, 0.868));
}

.font:nth-child(6):hover {
    background: linear-gradient(rgba(8, 235, 247, 0.847), rgba(206, 204, 98, 0.868));
}

.font:nth-child(7):hover {
    background: linear-gradient(rgba(0, 250, 229, 0.847), rgba(43, 43, 20, 0.868));
}

.font:nth-child(8):hover {
    background: linear-gradient(rgba(250, 29, 0, 0.847), rgba(255, 9, 157, 0.868));
}

.font:nth-child(9):hover {
    background: linear-gradient(rgba(0, 255, 217, 0.847), rgba(111, 9, 255, 0.868));
}

.font:nth-child(10):hover {
    background: linear-gradient(rgba(60, 255, 0, 0.847), rgba(202, 9, 255, 0.868));
}

.font:nth-child(11):hover {
    background: linear-gradient(rgba(255, 0, 144, 0.847), rgba(178, 234, 47, 0.868));
}

.font:nth-child(12):hover {
    background: linear-gradient(rgba(255, 0, 0, 0.847), rgba(234, 47, 166, 0.868));
}


#font1 {
    font-family: font1;
}

#font2 {
    font-family: font2;
}

#font3 {
    font-family: font3;
    font-size: 1rem;
}

#font4 {
    font-family: font4;
}



#font5 {
    font-family: font1;
}

#font6 {
    font-family: font6;
}

#font7 {
    font-family: font7;
    font-size: 1rem;
}

#font8 {
    font-family: font8;
   
}

#font9 {
    font-family: font9;
}

#font10 {
    font-family: font10;
}

#font11 {
    font-family: font11;
}

#font12 {
    font-family: font12;
}



.font-family-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.color-box {
    width: 23%;
    height: 5rem;
    border: 0.2rem solid whitesmoke;
    border-radius: 10px;
    margin: 1rem 0;
    cursor: pointer;
}

.color-box:nth-child(1) {
    background: linear-gradient(98.3deg, rgb(110, 2, 2) 10.6%, rgb(255, 0, 0)97.7%);
}

.color-box:nth-child(2) {
    background: linear-gradient(95deg, rgb(255, 0, 157) 10.6%, rgba(255, 0, 200, 0.607)97.7%);
}

.color-box:nth-child(3) {
    background: linear-gradient(95deg, rgb(0, 76, 255) 10.6%, rgba(0, 17, 255, 0.547)97.7%);
}


.color-box:nth-child(2) {
    background: linear-gradient(95deg, rgb(255, 0, 157) 10.6%, rgba(255, 0, 200, 0.607)97.7%);
}

.color-box:nth-child(4) {
    background: linear-gradient(95deg, rgb(255, 242, 0) 10.6%, rgba(217, 255, 0, 0.825)97.7%);
}

.github{
    position: absolute;
    top: 2%;
    right: 2%;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    background-color: #e8e8e8;
    border-radius: 50%;
    margin: 1rem;
    transition: all 1s ease;
    cursor: pointer;
} 
.github i{
    color: #000;
} 

.github:hover{
    background-color: #000;
}

.github:hover i{
    color: #e8e8e8;
}
.icon i {
    font-size: 2.5rem;
}

/* responsive for neon */


@media (max-width:1366px){
    .container{
        padding: 0 5%;
    }

    .font {
        width: 20%;
    }
}


@media (max-width:991px){

    html {
        font-size: 55.5%;
    }

    .flex-inner1 {
        width: 100%;
        height: 400px;
    margin: 2rem 0;}

        .flex-inner {
            width: 100%;
        margin-bottom: 2rem;}

        .flex-inner1 h6 {
            margin-bottom: 2rem;}

}


@media (max-width:442px){

    html {
        font-size: 50%;
    }

    .font{
        width: 19% !important;
        font-size: 1.2rem;
    }


}
